* {
	margin: 0;
}

.main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
}

.topban {
	display: flex;
	position: absolute;
	top: 0;
	margin: 145px auto;
	width: 10%;
}

.click {
	display: flex;
	justify-content: center;
}

.box {
    margin-top: 15px;
	box-shadow: 0 0 1rem grey;
	backdrop-filter: blur (0.5rem);
	padding: 3rem;
	border-radius: 1rem;
}

 button {
	position: absolute; 
	top: 75%; 
	left: 46%;
 }
 
#verseDisplay {
	color: #ffffff;
	font-size: 30px;
	padding-bottom: 2rem;
}

#clickon {
    background-color: #A45A35;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }